body{
    background: url("/assets/images/back.png") no-repeat center center;
    min-width: 900px;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}
.wrapper{
    min-width:900px;
    padding:30px;
}
.info-box{
    padding-top:45px;
    text-align: center;
    font-size:35px;
    color:white;
    font-weight:bold;
}
.info-box div{
    margin-bottom:10px;
}
.info-box a{
    margin-top:40px;
    padding:7px 65px;
    font-size:25px;
}
.form-options{
    width:40%;
    padding-top:125px;
    text-align: center;
    position: relative;
}
.form-options label{
    color:whitesmoke;
    font-size:42px;
}
.form-options input, .form-options select{
    display:inline-block;
}
.form-options button{
    padding:7px 50px;
    margin-top: 20px;
}
.form-options input, .form-options select{
    width:60%;
}

.non-display{
    display:none;
}

.diff-group button{
    display: inline-block;
}

.quess-form{
    width:30%;
}

.quess-form input{
    margin-top:40px;
    width:100%;
    height:75px;
    padding:0 55px;
    letter-spacing: 30px;
    font-size:53px;
}

.quess-form button, .quess-form a{
    display: inline-block;
    font-size:20px;
    min-width:100px;
    padding: 10px 11px;
}
.quess-form .guess-btns{
    margin: 20px auto 10px;
}
.quess-form button:first-child{
    margin-right:50px;
}

.white-font{
    color:white;
}

.results{
    min-height: 300px;
    padding:20px;
    text-align: center;
}

.game-block{
    padding-left: 15px;
    vertical-align: top;
    font-size:20px;
    background-color: white;
    opacity:0.7;
    color:black;
    width:30%;
    margin:0 auto;
    margin-right:10px;
    min-height:500px;
    display:inline-block;
}
.hints-block{
    min-height: 100px;
}
.game-block li.completed{
    color:darkgray;
    font-style: italic;
}

.game-block li.active{
    color:red;
}
