<div class="game-results">
  <div class = "header">
    <div class = "result-text">You loose :(</div>
    <div class="result-secret">Secre code was : <span class ="result-code"><%=game.secret_code%></span></div>
    <div class = "secret-show"></div>
  </div>
  <div class="button-block">
    <a href="/restart" class="btn btn-primary">Restart game</a>
  </div>
</div>