<div class="info-box col-md-12">
  <div> Hi, my young Codebreaker!</div>
  <div> I suppose you come here and thirst big wins</div>
  <div> Am i right? Try it!</div>

  <a href ="/<%= game_started? ? 'game' : 'options'%> " class ="btn btn-warning">
    <%= game_started? ? 'Continue' : 'Try'%>!
  </a>
</div>