<div class="info-box col-md-12">
  <div> Hi, my young Codebreaker!</div>
  <div> I suppose you come here and thirst big wins</div>
  <div> Am i right? Try it!</div>

  <a href ='/options' class ="btn btn-warning">Try</a>
</div>