<div class = "game-results">
  <div class = "header">
    <div class = "img-win"></div>
    <div class = "result-text">You win!</div>
  </div>

  <div class = "button-block">
    <a href = "/save" class = "btn btn-primary">Save results</a>
    <a href = "/restart" class = "btn btn-warning">Restart game</a>
  </div>
</div>
